/* Додаємо змінні */
:root {
  --first-text-color: #757575;
  --second-text-color: #2196f3;
  --third-text-color: #ffffff;
  --fourth-text-color: #000000;
  --fifth-text-color: #2f303a;
  --sixth-text-color: #f5f4fa;
  --headlines-color: #212121;
}

/* Скидаємо базові налаштування */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

ul{
  list-style-type: none;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--first-text-color);
}

/* pages */

.page {
}
.page__hero {
}
.page__feature {
}
.page__doing {
}
.page__team {
}

/* container */

[class*="__container"] {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* header */

.header__container {
  display: flex;
}

.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header__menu {
  display: flex;
  align-items: center;
}
.menu {
}
.menu__logo {
  display: block;
  margin-right: 93px;
  padding: 24px 0;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--second-text-color);
  text-decoration: none;
}
.menu__logo span {
  color: var(--fourth-text-color);
}
.menu__list {
  display: flex;
  align-items: center;
  gap: 50px;
}
.menu__item {
}
.menu__link {
  display: block;
  padding: 32px 0;
  text-decoration: none;
  color: var(--headlines-color);
}
.menu__link:hover,
.menu__link:focus {
  color: var(--second-text-color);
}
.menu__link.active {
  color: var(--second-text-color);
}
.header__contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 50px;
}
.contacts {
}
.contacts__item {
}
.contacts__link {
  display: block;
  padding: 32px 0;

  text-decoration: none;
  color: var(--first-text-color);
}
.contacts__link:hover,
.contacts__link:focus {
  color: var(--second-text-color);
}

/* hero */

.hero__container {
}
.hero {
  padding: 200px 0 ;
  text-align: center;
  background-color: var(--fifth-text-color);
}
.hero__title {
  width: 696px;
  margin: 0 auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
  text-transform: uppercase;
}
.hero__button {
  margin-top: 30px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  cursor: pointer;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  font-family: inherit;
  background-color: var(--second-text-color);
  color: var(--third-text-color);
}
.hero__button:hover,
.hero__button:focus {
  color: var(--second-text-color);
  background-color: var(--third-text-color);
}

/* page feature */

.feature__container {

}
.feature {
  padding-top: 94px;
  padding-bottom: 94px;
}
.feature__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.feature__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.list-feature {
}
.list-feature__item {
  width: calc((100% - 90px) / 4);
  /* margin-right: 30px; */
}
/* .list-feature__item:nth-child(4n){
  margin-right: 0;
} */
.list-feature__title {
  margin-bottom: 10px;

  text-transform: uppercase;
  color: var(--headlines-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.list-feature__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* doing */

.doing__container {
  
}
.doing {
  padding-bottom: 94px;
}
.doing__title {
  text-align: center;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--headlines-color);
}
.doing__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.list-doing {
}
.list-doing__item {
}

/* team */

.team__container {
  
}
.team {
  padding-top: 94px;
  padding-bottom: 94px;
}
.team__title {
  text-align: center;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--headlines-color);
}
.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item__image {
}

.team__content{
  padding: 30px 0;
}
.team-item__title {
  margin-bottom: 10px;
  text-align: center;

  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--headlines-color);
}
.team-item__text {
  text-align: center;

  line-height: 1.18;
  letter-spacing: 0.03em;
}

/* footer */

.footer__container {
  
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.footer__logo {
  display: block;
  margin-bottom: 20px; 

  font-family: Raleway;
  font-weight: 700;
  text-decoration: none;
  color: var(--second-text-color);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.footer__logo span {
  color: var(--third-text-color);
}
.footer__address {
  font-style: normal;
}
.address {
}
.address__text {
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}
.address__list {
}
.address__item {
}
.address__item:not(:last-child){
  margin-bottom: 9px;
}
.address__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.address__link:hover,
.address__link:focus {
  color: var(--second-text-color);
}


/*! PAGE PORTFOLIO */

.page {
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio__container{
  
}
.portfolio-buttons__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 50px;
}
.portfolio-buttons__item {
}
.portfolio-buttons__button {
  padding: 6px 25px;
  

  border-radius: 4px;

  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: var(--sixth-text-color);
  cursor: pointer;
  color: var(--headlines-color);
  font-family: inherit;
}
.portfolio-buttons__button:hover,
.portfolio-buttons__button:focus {
  background-color: var(--second-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--third-text-color);
}
.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.potfolio__item {
}
.potfolio__image {
  display: block;
}

.portfolio__content{
  padding: 20px 24px;
  border-left: 1px solid #EEEEEE;;
  border-bottom: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;; 
}
.potfolio__title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--headlines-color);
}
.portfolio__text {
  

  line-height: 1.87;
  letter-spacing: 0.03em;
}
